In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, np.nan, 1], [np.nan, np.nan, np.nan, 5]], columns=list('ABCD'))

In [6]:
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [7]:
df.dropna(axis=1, how='all') # axis=0 is row, axis=1 is column

     A    B  D
0  NaN  2.0  0
1  3.0  4.0  1
2  NaN  NaN  5

In [8]:
df.dropna(axis=1, how='any')

   D
0  0
1  1
2  5

In [11]:
df.fillna(0)

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5

In [12]:
values = {'A':0, 'B':1, 'C':2, 'D':3}
df.fillna(value = values)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5

In [13]:
df['D'].mean()

2.0

In [15]:
df.fillna(df['D'].median())

     A    B    C  D
0  1.0  2.0  1.0  0
1  3.0  4.0  1.0  1
2  1.0  1.0  1.0  5

In [16]:
df.isnull()

       A      B     C      D
0   True  False  True  False
1  False  False  True  False
2   True   True  True  False

In [17]:
df.isnull().sum()

A    2
B    1
C    3
D    0
dtype: int64