In [2]:
import pandas as pd
import numpy as np

In [9]:
df = pd.DataFrame({'A' : range(1, 11), 'B': np.random.randn(10)})

In [12]:
df.assign(ln_A = lambda x : np.log(x.A))

    A         B      ln_A
0   1 -0.154392  0.000000
1   2  0.417420  0.693147
2   3 -2.492324  1.098612
3   4 -1.732530  1.386294
4   5 -1.095000  1.609438
5   6  0.633027  1.791759
6   7  0.232616  1.945910
7   8 -1.164326  2.079442
8   9 -1.190279  2.197225
9  10  0.637629  2.302585

In [14]:
df['ln_A2'] = np.log(df.A)

In [15]:
df

    A         B     ln_A2
0   1 -0.154392  0.000000
1   2  0.417420  0.693147
2   3 -2.492324  1.098612
3   4 -1.732530  1.386294
4   5 -1.095000  1.609438
5   6  0.633027  1.791759
6   7  0.232616  1.945910
7   8 -1.164326  2.079442
8   9 -1.190279  2.197225
9  10  0.637629  2.302585

In [20]:
pd.qcut(df.A, 3, labels=["good", "medium", "bad"])

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): ['good' < 'medium' < 'bad']

In [21]:
df.max(axis=1)

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [22]:
df

    A         B     ln_A2
0   1 -0.154392  0.000000
1   2  0.417420  0.693147
2   3 -2.492324  1.098612
3   4 -1.732530  1.386294
4   5 -1.095000  1.609438
5   6  0.633027  1.791759
6   7  0.232616  1.945910
7   8 -1.164326  2.079442
8   9 -1.190279  2.197225
9  10  0.637629  2.302585

In [23]:
df.min(axis=1)

0   -0.154392
1    0.417420
2   -2.492324
3   -1.732530
4   -1.095000
5    0.633027
6    0.232616
7   -1.164326
8   -1.190279
9    0.637629
dtype: float64

In [24]:
df.min(axis=0)

A        1.000000
B       -2.492324
ln_A2    0.000000
dtype: float64

In [27]:
df['A'].clip(lower=-1, upper=5)

0    1
1    2
2    3
3    4
4    5
5    5
6    5
7    5
8    5
9    5
Name: A, dtype: int64

In [26]:
df['A']

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: A, dtype: int64

In [28]:
df["B"].abs()

0    0.154392
1    0.417420
2    2.492324
3    1.732530
4    1.095000
5    0.633027
6    0.232616
7    1.164326
8    1.190279
9    0.637629
Name: B, dtype: float64

In [ ]:
df["B"].abs()