In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.concat?

In [3]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])

In [4]:
s1

0    a
1    b
dtype: object

In [5]:
s2

0    c
1    d
dtype: object

In [6]:
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

In [7]:
pd.concat([s1, s2], ignore_index=True)

0    a
1    b
2    c
3    d
dtype: object

In [10]:
pd.concat([s1, s2], keys=['s1', 's2'], names=['Series name', 'Row Id'])

Series name  Row Id
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

In [11]:
df1 = pd.DataFrame([['a', 1], ['b', 2]], columns=['letter', 'number'])
df1

  letter  number
0      a       1
1      b       2

In [13]:
df2 = pd.DataFrame([['c', 3], ['d', 4]], columns=['letter', 'number'])
df2

  letter  number
0      c       3
1      d       4

In [14]:
pd.concat([df1, df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [15]:
df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']], columns=['letter', 'number', 'animal'])
df3

  letter  number animal
0      c       3    cat
1      d       4    dog

In [17]:
pd.concat([df1, df3])

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

In [19]:
pd.concat([df1, df3], join='inner')

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [20]:
pd.concat([df1, df3], join='outer')

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

In [21]:
df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']], columns=['animal', 'name'])

In [22]:
df4

   animal    name
0    bird   polly
1  monkey  george

In [25]:
df5 = pd.DataFrame([1], index=['a'])

In [26]:
df6 = pd.DataFrame([2], index=['a'])

In [27]:
df5

   0
a  1

In [28]:
df6

   0
a  2

In [30]:
pd.concat([df5, df6], verify_integrity=True) # Make error by duplicated 'a'

ValueError: Indexes have overlapping values: Index(['a'], dtype='object')